.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/*  --- Start header---- */

.logo {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        /* identical to box height */
        
        letter-spacing: 0.03em;
        color: #2196F3;
}
.logo-accent {
    color: black;
}
.logo-accent-color {
     color: #FFFFFF;
}
.nav-list-link {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

    color: #212121;
}
.nav-list-link:hover,
.nav-list-link:focus {
    color: #2196F3;
}
.contact-number {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
}
.contact-number:hover,
.contact-number:focus {
    color: #2196F3;
}
.contact-mail {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
    }
    
    .contact-mail:hover,
    .contact-mail:focus {
        color: #2196F3;
    }
    .title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;     
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #201d1d;
    }
    .modal-btn {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
    
        color: #FFFFFF;
                        
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
        .modal-btn:hover,
        .modal-btn:focus {
            background: #2196F3;
        }

/* --- End header---- */
/* --- Start about---- */
.about-title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
}
.about-text {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;   
        color: #757575;
}
/* --- End about---- */
/* --- Start content  */

.subtitle {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.67;
        letter-spacing: 0.03em;
        color: #212121;
}
.user-content {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #212121;
}
.job-title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19; 
        letter-spacing: 0.03em;
        color: #757575;
}
/* ---- End content---- */
/* --- Start footer--- */
.footer {
        position: absolute;
        width: 1600px;
        height: 252px;
                background: #2F303A;
}
.address-list-nav {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
         color: #FFFFFF;
}
.address-list-nav:hover,
.address-list-nav:focus {
    color: #2196F3;
}
.address-list-link {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71
        letter-spacing: 0.03em;   
        color: rgba(255, 255, 255, 0.6); 
}
.address-list-link:hover,
.address-list-link:focus {
    color: #2196F3;
}
/* --- End footer --- */
/* ---- Start portfolio--- */
.menu-btn {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;    
        letter-spacing: 0.03em;   
        color: #212121;
        cursor: pointer;
        
}
.menu-btn:hover,
.menu-btn:focus {
    background: #2196F3;
    color: #FFFFFF;
}
.work-name {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;  
        color: #212121;
}
.work-type {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;   
        color: #757575;
}

/* ---- End portfolio--- */